Within this file you will be create the following dataframes and save them as a csv files into your folder `data/csv`.

* monthly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available months
* yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years
* yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years along with harvest data (`million_60kgs_bag`, `nonbear_mill_trees`, `bear_mill_trees`, `avg_unemp_perc`) for each respective year

In [51]:
import pandas as pd
import os
import ast # To safely evaluate strings as Python literals

In [5]:
# Get current working directory 
print(os.getcwd())

/Users/sa17/Desktop/projects/projects/weather_api/notebooks

In [120]:
# Create dataframe from csv file
df = pd.read_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/data.csv")

# rename index 
df.index = ["time","temp","rela","prec","surf"] 

# transfrom the rows into columns
df = df.T 

# Convert string representations of lists into actual lists
columns_to_convert = ["time","temp","rela","prec","surf"] 
for col in columns_to_convert:
    df[col] = df[col].apply(ast.literal_eval)

# Change the lists into rows
df = pd.DataFrame({
    "time": df["time"].iloc[0],  
    "temp": df["temp"].iloc[0],
    "rela": df["rela"].iloc[0],
    "prec": df["prec"].iloc[0],
    "surf": df["surf"].iloc[0]
})

# Display the new DataFrame
df

# Key Points:
# ast.literal_eval: This is used to safely parse strings representing Python objects (e.g., lists, dictionaries) into actual objects.
# .iloc[0]: Extracts the first row of lists for processing since the original DataFrame has only one row.

                   time  temp  rela  prec   surf
0      2022-01-01T00:00  18.0    96   0.0  906.6
1      2022-01-01T01:00  18.2    95   0.1  907.4
2      2022-01-01T02:00  18.0    96   0.1  907.2
3      2022-01-01T03:00  17.9    97   0.3  906.5
4      2022-01-01T04:00  17.8    98   1.0  905.9
...                 ...   ...   ...   ...    ...
17515  2023-12-31T19:00  26.5    75   0.5  908.8
17516  2023-12-31T20:00  25.9    78   0.5  908.4
17517  2023-12-31T21:00  25.2    82   0.5  908.5
17518  2023-12-31T22:00  24.0    85   3.2  909.0
17519  2023-12-31T23:00  22.7    87   3.2  909.8

[17520 rows x 5 columns]

In [121]:
df["time"] = pd.to_datetime(df["time"])

df.set_index("time", inplace=True)

df.head()

                     temp  rela  prec   surf
time
2022-01-01 00:00:00  18.0    96   0.0  906.6
2022-01-01 01:00:00  18.2    95   0.1  907.4
2022-01-01 02:00:00  18.0    96   0.1  907.2
2022-01-01 03:00:00  17.9    97   0.3  906.5
2022-01-01 04:00:00  17.8    98   1.0  905.9

In [115]:
# Monthly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available months

In [ ]:
# Yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years

In [ ]:
# Yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years along with harvest data (`million_60kgs_bag`, `nonbear_mill_trees`, `bear_mill_trees`, `avg_unemp_perc`) for each respective year present for Minas Gerais